/* Section Banner Start */
@media screen and (max-width: 992px) {
    .main-banner-box .large-heading{
        text-align: center;
        padding: unset;
    }
    .banner .text-area{
        width: 100%;
    }
    .main-banner-box .second-large-heading{
        width: 100%;
        text-align: center;
    }
    .banner .text-area .para-wrapper{
        margin: auto;
        text-align: center;
    }
    .btn-wrapper{
        width: 100%;
    }
    .btn-wrapper a{
        width: 95%;
        padding: unset;
        text-align: center;
        margin: auto unset;
    }
    .text-area .counter-box-wrapper{
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .main-banner-box .large-heading h1{
        font-size: 100px;
    }
    .second-large-heading h3{
        font-size: 50px;
        line-height: 50px;
    }
    .banner .text-area .para-wrapper p{
        font-size: 22px;
    }
}
@media screen and (max-width: 600px) {
    .main-banner-box .large-heading h1{
        font-size: 70px;
        letter-spacing: 10px;
    }
    .second-large-heading h3{
        font-size: 40px;
    }
}
@media screen and (max-width: 400px){
    .second-large-heading h3{
        font-size: 30px;
        line-height: 40px;
    }
    .banner .text-area .para-wrapper{
        width: 100%;
    }
    .counter-box-wrapper .box h2{
        font-size: 30px;
    }
    .counter-box-wrapper .box{
        padding: 5px;
    }
    .counter-box-wrapper .box span{
        font-size: 10px;
    }
}
/* Section Banner End */

/* Section Main Heading Start */

@media screen and (max-width: 400px) {
    .content-main-heading .heading h1, .content-main-heading .heading h1 span{
        font-size: 50px;
    }
}
/* Section Main Heading End */

/* Section Newsletter Start */
@media screen and (max-width: 768px) {
    .newsletter .textarea .btn-wrapper{
        width: 100%;
    }
    .newsletter .textarea .btn-wrapper a{
     margin: unset;   
    }
    .newsletter .point-wrapper{
        margin-top: 50px;
    }
}
/* Section Newsletter End */

/* Section Heading Start */
@media screen and (max-width: 992px) {
    .content-main-heading .services-heading{
        flex-direction: column;
    }
    .content-main-heading .services-heading .for-card{
        width: 100%;
        text-align: center;
        margin: unset;
    }
    .content-main-heading .services-heading .button-wrapper{
        width: 100%;
        margin: unset;
        text-align: center;
    }
    .content-main-heading .services-paragraph .para{
        text-align: center;
        margin: 2% auto;
        width: 100%;
    }
}
/* Section Heading End */


/* Section journey Start*/
@media screen and (max-width: 992px) {
    .journey .journey-card-wrapper{
        width: 100%;

    }
    .journey-card-wrapper .top-heading{
        text-align: center;
    }
    .journey-card-wrapper .top-heading h3{
        font-size: 50px;
    }
    .journey-card-wrapper .second-top-heading{
        text-align: center;
    }
    .journey-card-wrapper .second-top-heading h2{
        font-size: 70px;
    }
    .journey-card-wrapper .third-top-heading{
        text-align: center;
    }
    .journey-card-wrapper .third-top-heading h5{
        font-size: 35px;
    }
    .journey-card-wrapper .journey-point-wrapper{
        width: 100%;
    }
    .journey-card-wrapper .journey-point-wrapper ul{
        display: flex;
        flex-wrap: wrap;
        margin: unset;
        gap: 20px;
    }
    .journey-card-wrapper .journey-btn-wrapper{
        width: 100%;
        padding: 10px 60px;
        background-color: var(--Orange-color);
        border-radius: 20px;
        color: var(--secondary-color);
        text-align: center;
    }
}

@media screen and (max-width: 510px){
    .journey-card-wrapper .journey-btn-wrapper{
        padding: 10px 20px;
    }
}
@media screen and (max-width: 430px){
    .journey-card-wrapper .journey-btn-wrapper{
        padding: 5px;
        width: 100%;
        font-size: 16px;
    }
}
/* Section journey End*/

/* Section Contact Us Start*/
@media screen and (max-width: 1200px) {
    .contact-us .img-wrapper{
        display: none;
    }
    .contact-us .left-side-content{
        width: 100%;
        margin: auto;
    }
    .contact-us .left-side-content .paragraph{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .contact-us .left-side-content .contact-form{
        text-align: center;
    }
    .contact-us .left-side-content .contact-form form{
        display: flex;
        justify-content: center;
    }
    .contact-us .left-side-content .contact-form .btn-wrapper a{
        margin: auto;
    }
}

@media screen and (max-width: 820px){
    .contact-us .left-side-content .contact-form .btn-wrapper a{
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 1320px){
    form{
        flex-wrap: wrap;
        gap: 10px;
    }
}
/* Section Contact Us End*/

